@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  background-color: #f0f5ff;
  margin: 0;
}

.wrapper {
  display: flex;
  width: 100%;
}

.side-bar {
  transform: translateX(-120px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #4e6cff;
  overflow: hidden;
  transition: transform 150ms;
  justify-content: flex-end;
}

.icons-sidebar {
  height: 150px;
  display: grid;
  justify-content: flex-end;
  transform: translateX(0px);
  transition: 500ms;
}

.side-bar:hover .icons-sidebar {
  transform: translateX(-50px);
  transition: 500ms;
}

.side-bar img {
  transition: 300ms;
}
.side-bar:hover #arrow {
  align-items: center;
  margin-right: 5px;
  transform: rotate(0.5turn);
  transition: 300ms;
}

#logo {
  margin-top: 10px;
  margin-right: 10px;
}

.side-bar:hover #logo {
  width: 100px;
  height: 110px;
}
.side-bar:hover {
  transform: translateX(0);
}

.products {
  margin: auto;
  background-color: #e0ecff;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product .img-frame {
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-product {
  max-height: 150px;
  max-width: 150px;
  object-fit: cover;
}

.product p {
  color: black;
  margin: 2px 0;
  font-size: 15px;
  padding: 5px;
  border-radius: 9px;
}

.product .id {
  background-color: white;
  color: black;
}

#button {
  background-color: rgb(146, 64, 194);
  margin: auto;
  text-align: center;
  width: 80px;
}

.price-rating {
  display: flex;
}

.price-rating .rate {
  display: flex;
}

.price-rating .price {
  display: flex;
  margin-left: auto;
}

.price-rating .rate img {
  margin-top: 5px;
}

.price-rating .price img {
  margin-top: 5px;
}

.products-cart{
  overflow: hidden;
  overflow: scroll;
  height: 70vh;
}

.product-in-cart {
  padding: 10px;
  font-size: 13px;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.product-in-cart p {
  text-align: center;
  
}

.product-in-cart .img-frame {
  height: 153px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.product-in-cart .img-frame .img-product {
    max-height: 150px;
    max-width: 140px;
    object-fit: cover;
}